
#a useful content lines beginning with # are comment lines

#1. The Number of telescope types
* NBRTELTYPES 1

#2. Number of telescope (NBRTL)
* NBRTL @ntel@

#----------------------------------------------------------------------------------------
#3.  Camera configuration
#
#   -telescope type
#   -the number of phototubes.
#   -the number of groups of summed pixel
# IMPORTANT: the telescope types have to be listed in increasing order
* CAMRA 0 @npixels@ @ngroups@

#That stuff above has to come first otherwise arrays will not be initialized properly

# Focal length of the mirror in meter. This is used to convert the focal plane from mm to deg (needed to write the vbf file) #AP: from the TDR!
* TELESCOPEFOCALLENGTH 0 5.6

#----------------------------------------------------
#Trace simulations 

#Trace length in ns AP: the window in which the pulse is expected
* TRACELENGTH 0 1000

#The sampling of the trace starts X ns before the average photon arrival time #AP: Temporary guess
* STARTSAMPLINGBEFOREAVERAGEPHOTONARRIVALTIME 0 500

#the separation between samples in the trace in ns
* TRACESAMPLEWIDTH 0 4


#The sigma of the pulse height distribution of single pe signals #AP: Done from a fit od the SPE plot (ML around the first peak gives such a sigma)
* SINGLEPEAMPLSIGMA 0 0.16
 SINGLEPEAMPLSIGMA 0 0.14
#the FWHM in ns of the single pe pulse shape used in the simulation
#which for now is a Gaussian If set to 0 the pulse shape is taken from a separate file
* SINGLEPEWIDTH 0 0

#The sampling stepwidth used for the sample single pe pulse in ns #AP: from the pulse_SST-1M_AfterPreamp.dat
* SINGLEPESAMPLING 0 1

#the file with the sample pulse shape. This will be used if the SINGLEPEWIDTH is set 0
#format in the file has to be 1. colum: time  2. column: amplitude 
 HIGHGAINPULSESHAPE 0 @cfgFolder@/pulseHighGain.dat
* HIGHGAINPULSESHAPE 0 @cfgFolder@/all_pulseshapes.dat

#the file with the sample pulse shape for the LowGainFADC channel. 
#This will be used if the SINGLEPEWIDTH is set 0
#format in the file has to be 1. colum: time  2. column: amplitude

 LOWGAINPULSESHAPE 0  @cfgFolder@/pulseLowGain.dat
* LOWGAINPULSESHAPE 0  @cfgFolder@/all_pulseshapes.dat

#It is assumed that the QE varies from pixel to pixel. The overall distribution is a Gaussian function
#this gives the sigma of the Gaussian. If a value less then zero is given the same qe is assumed for all pixel
#The code assigns a random value per pixel relQE = rand->Gaus(1.0,fQESigma); relQE is multiplied with the average QE

* QESIGMA 0 -1

#The gains will vary tube by tube. It is assumed that the gain distribution is described
#with a Gaussian function with the sigma given by this parameter
#The code assigns a random value per pixel relGain = rand->Gaus(1.0,fGainSigma); relGain is multiplied to each trace
#if sigma is <=0 there is no gain difference between pixel
#note that in case you do not flatfield the camera this is really the relative gain distribution
#if the cameras are flatfielded this is the distribution of the pixel responses if illuminated with an external light source
* GAINSIGMA 0 0.67
 GAINSIGMA 0 0

#If the cameras are flatfielded with respect to an external flasher only works when a GAINSIGMA is defined!!! Otherwise
#the pixel are flatfielded anyway, right! :)
* FLATFIELDCAMERA 0 1

#If you want to simulate electronic crosstalk between pixel #AP: for now don't
* USECROSSTALK 0 0

#The relative crosstalk value #AP: ~0%? We should not have... (STILL ELECTRONIC)
* CROSSTALKVALUE 0 0.0

#Do we use SiPM instead of PMTs?
* USESIPM 0 1

#Parameters to simulate a SiPM
# channel by channel
# the number of cells should be the effective number of cells, 
#i.e. number cells - average number of cells in recovery state
# CameraPixID | number of cells per SiPM | optical crosstalk probability
# SIPMPARS 0 0 1000 0.1

#Set to '1' if we want to use NSB in the simulations '0' otherwise #AP: i.e. pure event study, CR (1.5*proton rate) background for "safe threshold" study...
* USENSB  1

#Gain variation as a function of NSB. #IAS: set to 1 if you want to use the option of gain drpo as a function of NSB
* USEGAINDROP 1

#the NSB rate in MHz per pixel in the focal plane #IAS: From calibration measurements
* NSBRATEPERPIXEL 0 300


#Set to '1' if we want to use afterpulsing in the simulations '0' otherwise. For SiPMs you want to set this to 0 #AP: we don't have it!
* USEAFTERPULSING 0 0

#The pulse height distribution of the afterpulsing. 
#Use the values for the integral afterpulsing probability as obtained
#from a fit of the rate vs. threshold curves
#assumed fit function exponential exp(a+b*x), where a=constant b=slope
# measurement is normalized to 1 at 1 pe, i.e. normal single pe signals

#R10560 #AP: we don't have it!. It works only if "USEAFTERPULSING <TelTypeID> 1"
* AFTERPULSINGCONSTANT 0 -6.48

* AFTERPULSINGSLOPE 0 -0.163

#######################################################
#TELESCOPE TRIGGER CONFIGURATION
######################################################

##### AP DEV PART ######################
# It uses the "Camera snapshot" logic instead used by SST-1M, instead the default ("Next neighbor")
# Next neighbor: sum pixels in group and check DISCTHRESHOLD (in mV) -> searches GROUPMULTIPLICITY consecutive triggered neighbors
# Camera snapshot: sum pixels in groups and fadc conversion (no PEDESTAL/OFFSET!), rescaled by 1/SNAPSHOTSCALINGDIVISOR, eventually summed a SNAPSHOTFADCOFFSET,
#                  with a dynamic range of SNAPSHOTRESOLUTION bits of a snapshot (FADCSAMPLINGWIDTH long), sum groups in clusters found with SNAPSHOTCIRCLES circles,
#                  check DISCTHRESHOLD (in ADC counts) and combine the snapshots according to the SNAPSHOTSCOMBINATION logic chosen
* USETRIGGERCAMERASNAPSHOT 0 1

# Camera snapshot will perform the FADC procedure to the sum of the pixels in a group, limiting the dynamic range to 2^SNAPSHOTRESOLUTION-1.
# SNAPSHOTRESOLUTION is ignored if USETRIGGERCAMERASNAPSHOT is set as 0
* SNAPSHOTRESOLUTION 0 8

# The digitized signals are rescaled dividing by SNAPSHOTSCALINGDIVISOR factor (an integer!). Since it is something programmable in the FPGA,
# usually the values are powers of 2. SNAPSHOTSCALINGDIVISOR is ignored if USETRIGGERCAMERASNAPSHOT is set as 0
* SNAPSHOTSCALINGDIVISOR 0 1

# An offset in DC can be added to the digitized signals. SNAPSHOTFADCOFFSET is ignored if USETRIGGERCAMERASNAPSHOT is set as 0
* SNAPSHOTFADCOFFSET 0 0

# Camera snapshot will search for patch patterns of groups: one central group and SNAPSHOTPATCHCIRCLES number of surrounding circles.
# For example, a value of 1 with a SNAPSHOTNEIGHBORSFORCIRCLE x 6 will search for 7 groups, a value of 2 for 19, etc. If the value is set as 0,
# the pattern search is skipped. SNAPSHOTHEXAGONALCIRCLES is ignored if USETRIGGERCAMERASNAPSHOT is set as 0
* SNAPSHOTPATCHCIRCLES 0 1

# How many neighbors are required to form a pattern? TBD: more complex cluster pattern through this value?
* SNAPSHOTSURROUNDINGNEIGHBORS 0 6

# How to combine the snapshots of an event together.
# <telType> <ComboType> <SamplingsWindow>
# ComboTypes:
#   0 = Blind mode: consecutive <SamplingWindow> triggered => telescope triggered
#   1 = Edge mode: if edges of 2 opened windows (<SamplingsWindow> long) are contained => telescope triggered
#   2 = Level mode: ...
* SNAPSHOTSCOMBINATION 0 0 2
##### END DEV PART ######################

# use trigger subfields, i.e. the trigger area  is not homogenous
#the trigger topology has to be defined with the PATCH command
* USETRIGGERSUBFIELDS 0 0

#------------------------------------------------
#Configuration of the constant fraction discriminator

# Conversion factor of pe amplitude to mV at discriminator input [mV/pe] #AP: 10 LSB (Least Significant Bit) per pe => 2.4mV. TB x-checks!!!
* DISCPETOMVCONVERSION 0 2.4

#Threshold in mV of the discriminator
# AP DEV PART: If TRIGGERSNAPSHOT is enable, DISCTHRESHOLD is expressed in ADC counts!
* DISCTHRESHOLD 0 35

#width of the discriminator output signal in ns #AP: our conincidence window to read the trigger buffers is 4ns: the DISCWIDTH is its half
* DISCWIDTH 0 2

#If you want to use the Constant Fraction part of the CFD set this to 1 #AP: don't use it...
* DISCUSECFD 0 0

#Delay of the inverted signal in the discriminator in ns #AP: NOT USED! It works only if "DISCUSECFD <TelTypeID> 1"
* DISCDELAY 0 2.5

#Constant fraction of the discriminator #AP: don't use it. It works only if "DISCUSECFD <TelTypeID> 1"
* DISCATTENUATION 0 0.72

#If you want to use the dynamic RFB feedback set this to 1 otherwise 0 #AP: we don't have
* DISCUSERFBCIRCUIT 0 0

#The constant in the RFB Feedback circuit in units of mV/MHz #AP: don't use it. It works only if "DISCUSERFBCIRCUIT <TelTypeID> 1"
* DISCRFBCONSTANT 0 50

#The dynamic value in the RFB feedback that derives from the above value.
#If the dynamic feedback is used the below value is a start value that
#will change over time otherwise it is a constant offset applied. 
#The offset to the discr. threshold is the below value multiplied with 0.18 (VERITAS style) #AP: don't use it. It works only if "DISCUSERFBCIRCUIT <TelTypeID> 1"
* DISCRFBDYNAMIC 0 172

#Clipping before summing #AP: don't use it
* USEDISCCLIPPING 0 0

#Clipping level in mV #AP: don't use it. It works only if "USEDISCCLIPPING <TelTypeID> 1"
* DISCCLIPPINGLEVEL 0 -40

#------------------------------------------------
#The trigger logic

#How many groups need to be in a cluster for a telescope trigger. GROUPMULTIPLICITY is ignored if USETRIGGERCAMERASNAPSHOT is set as 1
#* GROUPMULTIPLICITY 0 @multiplicity@
* GROUPMULTIPLICITY 0 1

#Pixel are summed before trigger requires that a list with group 
#members are given at the end of this file #AP: WE DEFINITELY USE THE GROUPS!!!
* USESUMTRIGGER 0 1


##########################################################
#ARRAY TRIGGER CONFIGURATION
#########################################################

@telescopes@

#######################################################
#  FADC Parameters
######################################################

# gain conversion digital counts per photoelectron [dc/pe] (Amplitude) #IAS: calibration dated 05112018!
* FADCPETODCCONVERSION 0 5.22
# OLD
 FADCPETODCCONVERSION 0 10

# Sampling time of the FADC in ns #AP: ok.
* FADCSAMPLINGWIDTH 0 4

# Begin of readout window before trigger in ns #AP: the same of the pulse
* FADCOFFSETFROMTRIGGER 0 8

# The number of FADC samples #AP: 4ns sampling rate X 20 = 80ns that is our integration window
* FADCSAMPLES 0 50

# The FADC dynamic range #AP: 1 ADC has 12 bit
* FADCDYNAMICRANGE 0 4095

# The threshold in dc when the low gain channel gets active #AP: NEVER! So, put very high ADC counts!
* FADCHILOGAINTHRESHOLD 0 100000

# The gain ratio between the low and high gain channel
* FADCLOHIGHGAINRATIO 0 1

# The FADC pedestal #AP: I don't know for now... Assumption: smallest as possible (10dc?)
* FADCHIGHGAINPEDESTAL 0 10

# The FADC pedestal #AP: I don't know for now... Assumption: smallest as possible (10dc?)
* FADCLOWGAINPEDESTAL 0 10

#######################################################
# Biascurve simulations
######################################################

#--------------------------------------------------
#Simulate a bias curve #AP: Configuration for 2xNSB @ for USETRIGGERCAMERASNAPSHOT * 1, SNAPSHOTRESOLUTION * 8, SNAPSHOTSCALINGDIVISOR * 1, SNAPSHOTFADCOFFSET * 0, SNAPSHOTPATCHCIRCLES * 1, SNAPSHOTSURROUNDINGNEIGHBORS * 6, SNAPSHOTSCOMBINATION * 0 2!

#Defines wether we want to calculate a bias curve
* MAKEBIASCURVE @biascurve@

#Which telescope type do we want to use

* BIASCURVERTELESCOPEID 0

#How many trials for the biascurve
* BIASCURVETRIALS 10

#Start of the scan range in mV
* BIASCURVESTART 1
#Stop of the scan range in mV
* BIASCURVESTOP 100

#Step in the scan of the discriminator values
* BIASCURVESTEP 1


#--------------------------------------------------
#Looping over simulated events

#Defines if we want to process events
* LOOPOVEREVENTS @loopoverevents@

#Defines when an events is skipped. It is being checked what the number of Cherenkov photons
#is in each simulated camera. The event is simulated If this number is above the number given below
#in only one camera and otherwise skipped. Has to be set for each simulated telescope TYPE
* MINNUMPHOTONSREQUIRED 0 0

#VBF related parameters

#Do we write a vbf file
* WRITEVBF 0

#Name of the person in charge of executing the simulation
* SIMULATORNAME SST-1M

#Atmospheric model #AP: it is a not used in the simulation. Maybe for more analysis packages... Nepomuke: Should I pipe it directly from the grOptics file?
* ATMOSPHERICMODEL 0

#Day of simulated events set in the vbf file
* DAYOFSIMULATEDEVENTS @today@

#The number of pedestal events to simulate
* NUMBERPEDESTALEVENTS 10

#The number of pedestal events to simulate to stabilize the discriminator
* NUMBERPEDESTALEVENTSTOSTABILZE 20


#############################################################################################
#
#  PMT Quantum efficiency / Photon detection efficiency
#
###########################################################################################
# Photon detection efficiency of a Hamamatsu S10985-050C MPPC (SiPMT)
# which has four "pixels" of 3.0*3.0 mm each in a 8.2*9.0 mm 
# ceramic package. 
# Actual pixels: 0.050*0.050 mm, i.e. each logical pixel has 3600 sub-pixels.
# This file has PDE vaues scaled to 70% of the Hamamatsu data sheet,
# in better agreement with the measured PDE (without cross-talk) at
# realistic operating conditions.
#
@qe@

#-----------------------------------------------------------------------------------------
# Configuration of the trigger patches
##########################################################################################
#Trigger patch list records (PATCH)
#   -Telescope Type for which the patch is valid
#   -Patch identification number
#   -List of id numbers for pixels in patch
# 
#

#these are the VERITAS patches. AP: SST-1M still unknown! TO BE SET
@patches@

#Configuration of the Camera
@camera@
